@model Teamy.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/Css/LogInRegister.css">
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="text-center" style="padding:50px 0">
            <div class="logo">login</div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="login-form" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Username</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Name, "The email adress is required", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password</label>
                                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Pwd, "The password is required", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password Check:</label>
                                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Pwd, "The password is required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button type="submit" value="Save" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>New user? @Html.ActionLink("Go Login! ", "Login")</p>
                    </div>
                </form>
            </div>
        </div>
    }
</body>
</html>
